/public/css
/public/fonts
/public/hot
/public/images
/public/js
/public/mix-manifest.json
/public/storage

/storage/*.key

.env
.env.backup

.phpunit.result.cache

Homestead.json
Homestead.yaml

.idea

npm-debug.log
yarn-error.log

/node_modules
/vendor

package-lock.json
yarn.lock
pnpm-lock.yaml
composer.lock

.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
